registry=https://registry.npmjs.org/
replace-registry-host=https://packages.applied-caas-gateway1.internal.api.openai.org/artifactory/api/npm/npm-public
cache=/tmp/optituning-npm-cache
prefer-online=true
audit=false
fund=false
progress=false
fetch-retries=5
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
